<!-- <ion-header *ngIf="currentUserList[0]" >
  <ion-toolbar>
    <ion-title>Famille de {{currentUserList[0].name}}</ion-title> 
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <h3>Gérez votre famille ci-dessous</h3>
  <hr>
  <hr>
<!-- <div class="familyMembers" *ngFor="let user of currentUserList" >
   nom : {{user.family[0].name}}
   email : {{user.family[0].email}}
   Mdp : {{user.family[0].password}}
</div> -->
<div class="familyButtons">
    <ion-button > + </ion-button>
    <ion-button > - </ion-button>
</div>

</ion-content>
